@model DataAccessLayer.entity.VehicleDetail

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>VehicleDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vehicleNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vehicleNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vehicleId">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
